body{
    text-align: center;
}

.btn{
    block-size: 150px;
    inline-size: 150px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}